@import "tailwindcss";

button {
  cursor: pointer;
}

.scrollHidden::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--color-black);
  color: var(--color-white-100);
  font-family: Mooli, sans-serif;
}

.grid-template-columns {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

@theme {
  /* Custom theme colors */
  --color-black: #000000;

  --color-slate: #101010;
  --color-slate-100: #191919;
  --color-slate-200: #1f1f1f;
  --color-slate-300: #141414;

  --color-white: #ffffff;
  --color-white-100: #f8fafc;
  --color-white-200: #cccccc;
  --color-white-300: #e6e6e6;

  --color-grey: #999987;
  --color-grey-100: #282828;
  --color-grey-200: #838383;

  --color-indigo: #6c60a4;

  --color-icon: #a291fd;
  --color-icon-100: #999999;

  --color-stroke: #1e293b;
}
