@import "tailwindcss";

:root {
  --background-black: #000000;
  --color-white: #ffffff;
  --color-white-100: #f8fafc;
  --linear-gradient: linear-gradient(rgba(209, 213, 219, 0.8), rgb(0, 0, 0));
}
body {
  background: var(--background-black);
  color: var(--color-white-100);
  font-family: Mooli, sans-serif;
}
